@font-face {
  font-family: Poppins-Bold;
  src: url("Poppins-Bold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Poppins-Bold, sans-serif;
  margin: 0px;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  display: flex;
  justify-content: space-evenly;
  color: #777;
}

.weekdays p {
  width: 12.5%;
  text-align: center;
}

.row {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
}

.cell {
  padding: 10px;
  width: 12.5%;
  text-align: center;
  font-size: 15px;
  color: #777;
}

.times {
  background: #eee;
  margin: 0;
}

.meetings {
  display: flex;
  width: 12.5%;
  text-align: center;
  font-size: 15px;
  color: #777;
}

.meeting-blue {
  background-color: #2c80ce;
  cursor: pointer;
  flex-grow: 1;
}

.meeting-green {
  background-color: #20d64e;
  cursor: pointer;
  flex-grow: 1;
}

.meeting-orange {
  background-color: #ee8359;
  cursor: pointer;
  flex-grow: 1;
}

.meeting-fill {
  flex-grow: 1;
}

.top {
  height: 25px;
  align-self: flex-start;
}

.bottom {
  height: 25px;
  align-self: flex-end;
}
